:root {
    --primary: #ffffff;
    --secondary: #000000;
    --alternative: #ddd;
    --error: #DE3163;
    --success: #99F762;
}

body {
    background-color: var(--primary);
    color: var(--secondary);
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

#color-toggle {
    position: absolute;
    top: 1em;
    right: 1em;
}

#toolbar {
/*    position: absolute;*/
    display: flex;
    flex-direction: row;
}

#solve, #verify, #new {
    text-decoration: none;
    position: relative;
    font-size: 0.6em;
    background-color: var(--secondary);
    color: var(--primary);
    border-radius: 2em;
    transition: all 0.2s ease-in-out;
    margin-left: 0.5em;
    margin-right: 0.5em;
    padding: 0.5em;
}

    #new:hover, #verify:hover, #solve:hover {
        cursor: pointer;
        background-color: var(--alternative);
        color: var(--secondary);
    }

#field {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

#panel {
    margin: 1em;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

#dialog {
    display: none;
    opacity: 0;
    background-color: var(--error);
    font-size: 0.5em;
    font-weight: 600;
    border-radius: 1.5em;
    position: absolute;
    top: 1em;
    padding: 1em;
    margin: auto;
}

.btn {
    font-size: 0.8em;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5em;
    height: 1.5em;
    text-align: center;
    margin: 0.2em;
    border: var(--secondary) solid 0.1em;
    border-radius: 15em;
    transition: background-color 0.5s, color 0.5s;
}

.btn-active {
    font-size: 0.8em;
    font-weight: 600;
    transition: background-color 0.5s, color 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5em;
    height: 1.5em;
    text-align: center;
    margin: 0.2em;
    background-color: var(--secondary);
    color: var(--primary);
    border: var(--primary) solid 0.1em;
    border-radius: 15em;
}

table {
    border-collapse: collapse;
}

.box {
    border: 1px solid var(--secondary);
    padding: 0;
}

.box-table {
    border-collapse: collapse;
    width: 100%;
    height: 100%;
}

.static {
    font-weight: 800;
}

.cell-container {
    cursor: default;
    border: 1px solid var(--alternative);
    font-size: 0.7em;
    text-align: center;
    height: 1.7em;
    width: 1.7em;
    /* padding: 0.1em; */
}

.cell.focus {
    color: var(--primary);
    background-color: var(--secondary);
    border-radius: 2em;
}

.cell {
    border-radius:2em;
    transition: all 0.2s ease-in-out;
    margin: 0.05em;
    padding: 0.17em;
}

.hover {
    background-color: var(--alternative);
    border-radius: 2em;
}


.error {
    background-color: var(--error);
    border-radius: 2em;
    color: var(--secondary);
}

.filled {
    animation: pop-up .2s forwards ease-in-out;
}

@keyframes pop-up {
    0% {
        transform: scale(0.8);
    }

    75% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

#slide-area {
    position: relative;
    width: 1.875em;
    height: 1.0625em;
}

#themeToggle {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 1.0625em;
}

#color-toggle div {
    font-size: 0.7em;
    margin: 0.05em;
    display: inline-block;
}

.slider:before {
    position: absolute;
    content: "";
    height: 0.8125em;
    width: 0.8125em;
    left: 0.125em;
    bottom: 0.125em;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

#themeToggle:checked + .slider {
    background-color: #2196F3;
}

    #themeToggle:checked + .slider:before {
        transform: translateX(0.8125em);
    }
